@import "_config";

// Sidebar flair selection skin (from old flair stuff)
.titlebox {
	form.toggle.flairtoggle {
		color: lighten(#101010, 25%);
		text-align: center;
		padding: {
			top: 3px;
			bottom: 3px;
		};
		input {
			vertical-align: sub;
		}
	}
}

form.flairtoggle ~ .tagline {
	margin: 0;
}

.side .tagline {
	overflow: hidden;
	font-size: 0;
	height: 46px;
	text-align: center;
	margin: 0;
	.author {
		display: none;
		&:before {
			display: none;
		}
	}
	.flair {
		margin-top: 3px;
		margin-bottom: 3px;
	}
	.flairselectbtn {
		font-size: x-small;
		width: 100%;
		float: left;
		text-align: center;
		margin-top: -10px;
	}
	.flairselector {
		position: absolute;
		.flairremove {
			line-height: 25px;
			margin-left: 5px;
		}
	}
}

// Hotbar (h1 + blockquote)
// Note that the $header_ variables have already been defined in /header/_config.scss and will be referenced in here
.side {
	position: relative;
	
	margin: 0;
}

.md {
	h1 + blockquote {
		position: absolute;
		top: ($header_hotbar_height + $header_margin_bottom + $header_announcebar_height) * -1;
		right: 0;
		
		// On Windows, anyways, scrollbar width is 17px wide. Definitely revisit and adjust as needed, as I know this
		// will screw up on anything other than my dev environment (investigate CSS for Chrome... window chrome)
		width: calc(100vw - #{$global_scrollbar_width});
		height: $header_hotbar_height;
		z-index: $header_hotbar_zindex * 100;
		
		padding: 0;
		border: none;
		
		@include palette("background", "bg", "primary");
		
		a{
			display: block;
			height: 100%;
			width: 100%;
			
			font-weight: bold;
			@include palette("color", "text", "primary");
			
			line-height: $header_hotbar_lineHeight;
			padding: #{($header_hotbar_height - $header_hotbar_lineHeight) / 2} 0;
			
			&:hover{
				@include palette("background", "bg", "secondary");
				@include palette("color", "bg", "primary");
			}
		}
		
		// stupid fix for some of Reddit's specificity
		.side & {
			margin: 0 0;
		}
		
		& > ul {
			// aww yiss flexboxes
			display: flex;
			
			height: 100%;
			width: 100%;
			
			margin: 0;
			padding: 0;
			
			list-style-type: none;
			
			& > li{
				// muthafuckin flexboxes
				flex: 1;
				position: relative;
				
				text-align: center;
				vertical-align: baseline;
				
				// For the little diagonal thingies
				margin-left: #{($header_hotbar_height / $global_diagonal_slope) + $global_diagonal_width};
				padding-left: 0;
				
				// We don't want the margin to apply to the first element in the list
				&:first-of-type{
					margin-left: 0;
				}
				
				& > ul {
					display: none;
				}
				
				// Separator lines
				// little diagonal line decorations
				&:not(:first-of-type){
					// left
					&:before{
						position: absolute;
						top: 0;
						left: (-1 * $header_hotbar_height / $global_diagonal_slope);
						
						height: $header_hotbar_height;
						width: #{($header_hotbar_height / $global_diagonal_slope)};
						
						content: ".";
						font-size: 0;
						color: transparent;
						
						@include palette("background", "bg", "primary", $rule-string: "linear-gradient(to right bottom, transparent 50%, ##color## 50%) 0 0/100% 100% no-repeat");
						
						z-index: 400;
					}
					
					&:after{
						position: absolute;
						top: 0;
						left: #{(-1 * $header_hotbar_height / $global_diagonal_slope) - $global_diagonal_width};
						
						height: $header_hotbar_height;
						width: #{($header_hotbar_height / $global_diagonal_slope) + $global_diagonal_width};
						
						content: ".";
						font-size: 0;
						color: transparent;
						
						background:
							linear-gradient(to right bottom, get-color("bg", "primary", "day") 50%, transparent 50%) 0 0/#{$header_hotbar_height / $global_diagonal_slope} #{$header_hotbar_height} no-repeat,
							mix(#FFF, get-color("bg", "secondary", "day"), 60%);
						
						z-index: 300;
						
						// Force antialiasing
						
						
						// We can't use palette() here due to the background color, unfortunately, so we need to manually define the night mode coloration.
						[lang*="dk"] &, .res-nightMode & {
							background:
								linear-gradient(to right bottom, get-color("bg", "primary", "night") 50%, transparent 50%) 0 0/#{$header_hotbar_height / $global_diagonal_slope} #{$header_hotbar_height} no-repeat,
								get-color("bg", "secondary", "night");
						}
					}
				}
				
				// Diagonal fill
				// What the hell did I do
				& > a:only-child {
					&:hover:before{
						position: absolute;
						top: 0;
						left: 0;
						
						width: calc(100% + #{2 * $header_hotbar_height / $global_diagonal_slope});
						height: $header_hotbar_height;
						
						margin-left: #{(-1 * $header_hotbar_height / $global_diagonal_slope)};
						
						content: ".";
						font-size: 0;
						color: transparent;
						
						//
						background:
							linear-gradient(to right bottom, transparent 50%, get-color("bg", "secondary-light-2") 50%) 0% 0%/#{$header_hotbar_height / $global_diagonal_slope} #{$header_hotbar_height} no-repeat,
							linear-gradient(to right bottom, get-color("bg", "secondary-light-2") 50%, transparent 50%) 100% 0/#{$header_hotbar_height / $global_diagonal_slope} #{$header_hotbar_height} no-repeat;
						z-index: 450;
						
						// Night Mode
						[lang*="dk"] &, .res-nightMode & {
							background:
								linear-gradient(to right bottom, transparent 50%, get-color("bg", "secondary-light-2", "night") 50%) 0% 0%/#{$header_hotbar_height / $global_diagonal_slope} #{$header_hotbar_height} no-repeat,
								linear-gradient(to right bottom, get-color("bg", "secondary-light-2", "night") 50%, transparent 50%) 100% 0/#{$header_hotbar_height / $global_diagonal_slope} #{$header_hotbar_height} no-repeat;
						}
					}
				}
				
				&:first-of-type > a:only-child {
					width: calc(100% + #{$header_hotbar_height / $global_diagonal_slope});
					margin-left: 0;
					
					@include palette("background", "bg", "secondary-light-2", $rule-string: "linear-gradient(to right bottom, ##color## 50%, transparent 50%) 100% 0/#{$header_hotbar_height / $global_diagonal_slope} #{$header_hotbar_height} no-repeat;");
				}
				&:last-of-type > a:only-child {
					width: calc(100% + #{$header_hotbar_height / $global_diagonal_slope});
					
					@include palette("background", "bg", "secondary-light-2", $rule-string: "linear-gradient(to right bottom, transparent 50%, ##color## 50%) 100% 0/#{$header_hotbar_height / $global_diagonal_slope} #{$header_hotbar_height} no-repeat;");
				}
				
				// I know, I know, DRY, but I can't modify the selectors properly otherwise. I'm just as annoyed as you.
				li:first-of-type > a {
					&:hover:before{
						position: absolute;
						top: 0;
						left: 0;
						
						width: calc(100% + #{2 * $header_hotbar_height / $global_diagonal_slope});
						height: $header_hotbar_height;
						
						margin-left: #{(-1 * $header_hotbar_height / $global_diagonal_slope)};
						
						content: ".";
						font-size: 0;
						color: transparent;
						
						//
						background:
							linear-gradient(to right bottom, transparent 50%, get-color("bg", "secondary-light-2") 50%) 0% 0%/#{$header_hotbar_height / $global_diagonal_slope} #{$header_hotbar_height} no-repeat,
							linear-gradient(to right bottom, get-color("bg", "secondary-light-2") 50%, transparent 50%) 100% 0/#{$header_hotbar_height / $global_diagonal_slope} #{$header_hotbar_height} no-repeat;
						z-index: 450;
						
						// Night Mode
						[lang*="dk"] &, .res-nightMode & {
							background:
								linear-gradient(to right bottom, transparent 50%, get-color("bg", "secondary-light-2", "night") 50%) 0% 0%/#{$header_hotbar_height / $global_diagonal_slope} #{$header_hotbar_height} no-repeat,
								linear-gradient(to right bottom, get-color("bg", "secondary-light-2", "night") 50%, transparent 50%) 100% 0/#{$header_hotbar_height / $global_diagonal_slope} #{$header_hotbar_height} no-repeat;
						}
					}
				}
				
				&:first-of-type li:first-of-type > a:hover:before {
					width: calc(100% + #{$header_hotbar_height / $global_diagonal_slope});
					margin-left: 0;
					
					@include palette("background", "bg", "secondary-light-2", $rule-string: "linear-gradient(to right bottom, ##color## 50%, transparent 50%) 100% 0/#{$header_hotbar_height / $global_diagonal_slope} #{$header_hotbar_height} no-repeat;");
				}
				
				&:last-of-type li:first-of-type > a:hover:before {
					width: calc(100% + #{$header_hotbar_height / $global_diagonal_slope});
				
					@include palette("background", "bg", "secondary-light-2", $rule-string: "linear-gradient(to right bottom, transparent 50%, ##color## 50%) 0% 0/#{$header_hotbar_height / $global_diagonal_slope} #{$header_hotbar_height} no-repeat;");
				}
				
				&:hover{
					// Continuation of separator lines; we want this to work on everything
					&:before{
						@include palette("background", "bg", "secondary", $rule-string: "linear-gradient(to right bottom, transparent 50%, ##color## 50%) 0 0/100% 100% no-repeat");
					}
					& + li:after{
						//@include palette("background", "bg", "secondary");
					}
					
					a{
						@include palette("background-color", "bg", "secondary");
						@include palette("color", "bg", "primary");
						
						&:hover{
							@include palette("background-color", "bg", "secondary-light-2");
							// Night Mode
						[lang*="dk"] &, .res-nightMode & {
							background:
								linear-gradient(to right bottom, transparent 50%, get-color("bg", "secondary-light-2", "night") 50%) 0% 0%/#{$header_hotbar_height / $global_diagonal_slope} #{$header_hotbar_height} no-repeat,
								linear-gradient(to right bottom, get-color("bg", "secondary-light-2", "night") 50%, transparent 50%) 100% 0/#{$header_hotbar_height / $global_diagonal_slope} #{$header_hotbar_height} no-repeat;
						}
						}
					}
					
					ul{
						display: block;
						
						width: calc(100% + #{($header_hotbar_height / $global_diagonal_slope) + 2 * $global_diagonal_width});
						
						margin: 0;
						margin-left: (-1 * $header_hotbar_height / $global_diagonal_slope) - $global_diagonal_width;
						padding: 0;
						
						list-style-type: none;
						
						@include palette("background-color", "bg", "secondary");
						@include palette("border-bottom", "bg", "primary", $rule-string: "5px solid ##color##");
					}
					
					// Sizing fix for first element in list if it has a nested menu
					&:first-of-type ul{
						margin-left: 0;
						width: calc(100% + #{$global_diagonal_width});
					}
					
					// Sizing fix for last element in list if it has a nested menu
					&:last-of-type ul{
						width: calc(100% + #{($header_hotbar_height / $global_diagonal_slope) + $global_diagonal_width});
					}
					
					li{
						
					}
				}
				
				// Add the thing to the things
				& > ul ~ a {
					&:after{
						content: " ▼";
					}
				}
				
				// Hide original link on hover
				&:hover > ul ~ a {
					visibility: hidden;
				}
			}
		}
	}
	
	// Announcement bar
	h4 + blockquote {
		position: absolute;
		top: ($header_margin_bottom + $header_announcebar_height) * -1;
		right: 25vw;
		
		// On Windows, anyways, scrollbar width is 17px wide. Definitely revisit and adjust as needed, as I know this
		// will screw up on anything other than my dev environment (investigate CSS for Chrome... window chrome)
		width: calc(75vw - 17px);
		height: $header_announcebar_height;
		z-index: $header_announcebar_zindex * 100;
		
		padding: 0 0 0 5px;
		border-left: 5px solid red;
		box-sizing: border-box;
		
		@include palette("background", "bg", "lightgrey");
		
		// stupid fix for some of Reddit's specificity
		.side & {
			margin: 0 0;
			p {
				height: 100%;
				
				overflow-y: scroll;
				
				line-height: $header_announcebar_lineHeight;
				
				@include palette("color", "text", "primary");
			}
		}
	}
}