// ===============================
//        COLOR DEFINITIONS
//
// Background and text colors get defined here.
// Night Mode color options also get defined here.
// If a Night Mode option is missing, fall back to day mode.
//
// Flair text is what the user always sees. If no text option is supplied, this
//     will be used for basic flairs as well.
// User text is user definable, and appears on hover (if hover is enabled).
//     This is optional, but please supply it if possible. If not available, the
//     compiler will invert the flair background and text colors (which could
//     look horrible depending on the colors).
//
// The "text" option is optional. If not supplied, the compiler will attempt
// to determine what text color constrasts best with the background.
//
// =================================

// Move this stuff to global configuration and refactor so flairHeight determines
// line height as well as the flair height.
$flairHeight: 20px;

$text-light-default: #FFF;
$text-dark-default: #101010;

$NIGHTMODE: false;

$flair-color-default: (
	"flair": (
		"background": (
			"day": #444,
			"night": $text-light-default
		),
		"text": (
			"day": $text-light-default,
			"night": $text-dark-default
		)
	),
	"user": (
		"background": (
			"day": #444,
			"night": $text-light-default
		),
		"text": (
			"day": $text-light-default,
			"night": $text-dark-default
		)
	)
);

$flair-colors: (
	"red": (
		"flair": (
			"background": (
				"day": #D92121
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": #D92121
			)
		)
	),
	"rust": (
		"flair": (
			"background": (
				"day": #BF3A3A
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": #BF3A3A
			)
		)
	),
	"blue": (
		"flair": (
			"background": (
				"day": #4C9BEE
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": #2565C0
			),
			"text": (
				"day": $text-light-default
			)
		)
	),
	"green": (
		"flair": (
			"background": (
				"day": #228822
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": #228822
			)
		)
	),
	"red-legacy": (
		"flair": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": #D92121
			)
		),
		"user": (
			"background": (
				"day": #D92121
			),
			"text": (
				"day": $text-light-default
			)
		)
	),
	"blue-legacy": (
		"flair": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": #2565C0
			)
		),
		"user": (
			"background": (
				"day": #2565C0
			),
			"text": (
				"day": $text-light-default
			)
		)
	),
	"orange": (
		"flair": (
			"background": (
				"day": #E65B38
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": #a93113
			),
			"text": (
				"day": $text-light-default
			)
		)
	),
	"purple": (
		"flair": (
			"background": (
				"day": #A4619F
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": #7C3677
			),
			"text": (
				"day": $text-light-default
			)
		)
	),
	"pink": (
		"flair": (
			"background": (
				"day": #EA4C89
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": #AD3966
			),
			"text": (
				"day": $text-light-default
			)
		)
	),
	"pcmr-team": (
		"flair": (
			"background": (
				"day": #4859a7
			),
			"text": (
				"day": $text-light-default
			)
		)
	),
	"green-legacy": (
		"flair": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": #228822
			)
		),
		"user": (
			"background": (
				"day": #228822
			),
			"text": (
				"day": $text-light-default
			)
		)
	),
	"gold": (
		"flair": (
			"background": (
				"day": #cc9900
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": #cc9900
			)
		)
	),
	"mod": (
		"flair": (
			"background": (
				"day": #FACA04
			),
			"text": (
				"day": $text-dark-default
			),
			"border": #101010
		),
		"user": (
			"background": (
				"day": #101010
			),
			"text": (
				"day": lighten(#FACA04, 20%)
			)
		)
	),
	
	// Corporate colors
	"intel": (
		"flair": (
			"background": (
				"day": #0071c5
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": #0071c5
			)
		)
	),
	"msi": (
		"flair": (
			"background": (
				"day": #0054A7
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": #0054A7
			)
		)
	),
	"ea-origin": (
		"flair": (
			"background": (
				"day": #F05A22
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": #F05A22
			)
		)
	),
	"gigabyte": (
		"flair": (
			"background": (
				"day": #3498DB
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": #3498DB
			)
		)
	),
	"nvidia": (
		"flair": (
			"background": (
				"day": #76B900
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": #76B900
			)
		)
	),
	"logitech": (
		"flair": (
			"background": (
				"day": #00a9e0
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": #00a9e0
			)
		)
	),
	"corsair": (
		"flair": (
			"background": (
				"day": #d92121
			),
			"text": (
				"day": #FFF
			)
		),
		"user": (
			"background": (
				"day": #FFF
			),
			"text": (
				"day": #d92121
			)
		)
	),
	"wd": (
		"flair": (
			"background": (
				"day": #005195
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": #005195
			)
		)
	),
	"coolermaster": (
		"flair": (
			"background": (
				"day": #101010
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": #101010
			)
		)
	),
	"rockstar": (
		"flair": (
			"background": (
				"day": #FFA500
			),
			"text": (
				"day": $text-dark-default
			),
			"border": #000
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": $text-dark-default
			)
		)
	),
	"rockstarnorth": (
		"flair": (
			"background": (
				"day": lighten(#287aff, 0%)
			),
			"text": (
				"day": $text-dark-default
			),
			"border": #000
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": $text-dark-default
			)
		)
	),
	"rockstarleeds": (
		"flair": (
			"background": (
				"day": lighten(#287aff, 0%)
			),
			"text": (
				"day": $text-dark-default
			),
			"border": #000
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": $text-dark-default
			)
		)
	),
	"valve": (
		"flair": (
			"background": (
				"day": #38332B
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": #38332B
			)
		)
	),
	"heartofracing": (
		"flair": (
			"background": (
				"day": #2e6188
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": #FFF
			),
			"text": (
				"day": #2e6188
			)
		)
	),
	"nzxt": (
		"flair": (
			"background": (
				"day": #101010
			),
			"text": (
				"day": $text-dark-default
			)
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": #101010
			)
		)
	),
	"pcpp": (
		"flair": (
			"background": (
				"day": #FFF
			),
			"text": (
				"day": #303344
			)
		),
		"user": (
			"background": (
				"day": #303344
			),
			"text": (
				"day": #FFF
			)
		)
	),
	"amd": (
		"flair": (
			"background": (
				"day": #ed1c24
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": #ed1c24
			)
		)
	),
	"asus": (
		"flair": (
			"background": (
				"day": desaturate(#00a8ff, 25%)
			),
			"text": (
				"day": $text-light-default
			)
		),
		"user": (
			"background": (
				"day": $text-light-default
			),
			"text": (
				"day": desaturate(#00a8ff, 25%)
			)
		)
	),
	"ekwb": (
		"flair": (
			"background": (
				"day": #FFF
			),
			"text": (
				"day": #F99A32
			)
		),
		"user": (
			"background": (
				"day": #F99A32
			),
			"text": (
				"day": #FFF
			)
		)
	),
	"daybreak": (
		"flair": (
			"background": (
				"day": #C02019
			),
			"text": (
				"day": #101010
			)
		),
		"user": (
			"background": (
				"day": #5b100b
			),
			"text": (
				"day": #fff7eb
			)
		)
	),
	"oculus": (
		"flair": (
			"background": (
				"day": #1c1e20
			),
			"text": (
				"day": #FFF
			)
		),
		"user": (
			"background": (
				"day": #FFF
			),
			"text": (
				"day": #1c1e20
			)
		)
	),
	"xoticpc": (
		"flair": (
			"background": (
				"day": #231F20
			),
			"text": (
				"day": #FFF
			)
		),
		"user": (
			"background": (
				"day": #FFF
			),
			"text": (
				"day": #231F20
			)
		)
	),
);

// ===============================
//     FLAIR TEXT DEFINITIONS
//
// All flair text gets defined here.
// Using this class will turn a standard flair into a hover flair.
//
// Unlike the colors, this is a much simpler map. All text options must have a
// string value. However, you can optionally define a short string to use for
// users on very small screens, where space is very limited. In that case,
// the full text should have the key "full" and the condensed should have
// the key "short".
//
// =================================

$flair-text: (
	// Public choices
	"pcmr": (
		"full": "PC Master Race",
		"short": "PCMR"
	),
	"laptop": (
		"full": "Laptop",
		"short": "PCMR"
	),
	"desktop": (
		"full": "Desktop",
		"short": "PCMR"
	),
	"htpc": (
		"full": "HTPC",
		"short": "PCMR"
	),
	"hack": (
		"full": "Hackintosh",
		"short": "PCMR"
	),
	"linux": (
		"full": "Linux",
		"short": "PCMR"
	),
	"mac": (
		"full": "Mac Heathen",
		"short": "Mac"
	),
	"former": (
		"full": "Former PC Master Race",
		"short": "FPCMR"
	),
	"trans": (
		"full": "Transitioning Peasant",
		"short": "Rising"
	),
	"sony": (
		"full": "Filthy PlayStation Peasant",
		"short": "Peasant"
	),
	"xbox": (
		"full": "Filthy Xbox Peasant",
		"short": "Peasant"
	),
	"nint": (
		"full": "Filthy Nintendo Peasant",
		"short": "Peasant"
	),
	"peasant": (
		"full": "Filthy Console Peasant",
		"short": "Peasant"
	),
	
	// Special choices
	"mod": (
		"full": "Moderator",
		"short": "Mod"
	),
	"mod-junior": (
		"full": "Junior Moderator",
		"short": "Mod"
	),
	"mod-intern": (
		"full": "Intern Moderator",
		"short": "Mod"
	),
	"pcmr-builds": (
		"full": "PCMR Builds",
		"short": "PCMR"
	),
	"pcmr-youtube": (
		"full": "PCMR YouTube",
		"short": "PCMR"
	),
	"pcmr-twitch": (
		"full": "PCMR Twitch",
		"short": "PCMR"
	),
	"pcmr-steam": (
		"full": "PCMR Steam Chat",
		"short": "PCMR"
	),
	"pcmr-curator": (
		"full": "PCMR Curator Team",
		"short": "PCMR"
	),
	"toothless": (
		"full": "Toothless Master Race",
		"short": "Toothless"
	),
	"testoutfit": (
		"full": "TEST Outfit",
		"short": "TEST"
	),
	
	// Corporate/rep text
	"gaben": (
		"full": "Gabe Newell",
		"short": "GabeN"
	)
);

$spritesheet: (
	"url": url(http://i.imgur.com/H4w3v8Y.png),
	//"url": url("flairs"),
	"width": 688px,
	"height": 624px,
	
	"defaultIconHeight": 48px,
	"defaultTargetWidth": 16px,
	"defaultTargetHeight": 16px,
	
	"padding": 4px,
	
	"icons": (
		"steam": (
			"left": -8px,
			"top": -8px,
			"width": 48px,
			"height": 48px,
			"targetHeight": 16px
		),
		"galaxy": (
			"left": -72px,
			"top": -8px,
			"width": 52px,
			"height": 48px,
			"targetHeight": 25px
		),
		"heartofracing": (
			"left": -136px,
			"top": -8px,
			"width": 52px,
			"height": 48px,
			"targetHeight": 18px
		),
		"intel": (
			"left": -208px,
			"top": -8px,
			"width": 76px,
			"height": 48px,
			"targetHeight": 18px
		),
		"logitech": (
			"left": -8px,
			"top": -76px,
			"width": 290px,
			"height": 48px,
			"targetHeight": 11px
		),
		"pcmr": (
			"left": -314px,
			"top": -8px,
			"width": 170px,
			"height": 96px,
			"targetHeight": 16px
		),
		"amd": (
			"left": -314px,
			"top": -120px,
			"width": 204px,
			"height": 48px,
			"targetHeight": 10px
		),
		"asus": (
			"left": -8px,
			"top": -136px,
			"width": 280px,
			"height": 48px,
			"targetHeight": 8px
		),
		"coolermaster": (
			"left": -296px,
			"top": -184px,
			"width": 64px,
			"height": 48px,
			"targetHeight": 24px
		),
		"corsair": (
			"left": -8px,
			"top": -248px,
			"width": 194px,
			"height": 48px,
			"targetHeight": 14px
		),
		"daybreak": (
			"left": -218px,
			"top": -248px,
			"width": 296px,
			"height": 48px,
			"targetHeight": 17px
		),
		"ekwb": (
			"left": -376px,
			"top": -184px,
			"width": 144px,
			"height": 48px,
			"targetHeight": 16px
		),
		"gigabyte": (
			"left": -8px,
			"top": -312px,
			"width": 380px,
			"height": 48px,
			"targetHeight": 8px
		),
		"msi": (
			"left": -0px,
			"top": -372px,
			"width": 208px,
			"height": 56px,
			"targetHeight": 8px
		),
		"nvidia": (
			"left": -228px,
			"top": -376px,
			"width": 252px,
			"height": 48px,
			"targetHeight": 12px
		),
		"nzxt": (
			"left": -8px,
			"top": -440px,
			"width": 192px,
			"height": 48px,
			"targetHeight": 8px
		),
		"oculus": (
			"left": -214px,
			"top": -440px,
			"width": 222px,
			"height": 48px,
			"targetHeight": 12px
		),
		"origin": (
			"left": -401px,
			"top": -312px,
			"width": 36px,
			"height": 48px,
			"targetHeight": 16px
		),
		"ea-origin": (
			"left": -401px,
			"top": -312px,
			"width": 126px,
			"height": 48px,
			"targetHeight": 16px
		),
		"pcpp": (
			"left": -8px,
			"top": -504px,
			"width": 232px,
			"height": 48px,
			"targetHeight": 16px
		),
		"rockstar": (
			"left": -500px,
			"top": -8px,
			"width": 48px,
			"height": 48px,
			"targetHeight": 13px
		),
		"rockstarnorth": (
			"left": -496px,
			"top": -376px,
			"width": 48px,
			"height": 48px,
			"targetHeight": 13px
		),
		"toothless": (
			"left": -452px,
			"top": -440px,
			"width": 64px,
			"height": 48px,
			"targetHeight": 16px
		),
		"tux": (
			"left": -247px,
			"top": -504px,
			"width": 48px,
			"height": 48px,
			"targetHeight": 19px
		),
		"twitch": (
			"left": -310px,
			"top": -504px,
			"width": 48px,
			"height": 48px,
			"targetHeight": 12px
		),
		"valve": (
			"left": -376px,
			"top": -504px,
			"width": 172px,
			"height": 48px,
			"targetHeight": 12px
		),
		"wd": (
			"left": -564px,
			"top": -8px,
			"width": 120px,
			"height": 48px,
			"targetHeight": 10px
		),
		"wrench": (
			"left": -531px,
			"top": -72px,
			"width": 52px,
			"height": 48px,
			"targetHeight": 12px
		),
		"xoticpc": (
			"left": -8px,
			"top": -568px,
			"width": 210px,
			"height": 48px,
			"targetHeight": 13px
		),
		"youtube": (
			"left": -590px,
			"top": -72px,
			"width": 72px,
			"height": 48px,
			"targetHeight": 10px
		),
	)
);

// ===============================
//    FLAIR COMPATIBILITY SHIMS
//
// All compatibility shims go here.
// Primarily for compatibility with the legacy image-based flair system.
//
// =================================

$oldFlairShims: (
	"blue": (
		"color": "blue",
	),
	"purple": (
		"color": "purple",
	),
	"red": (
		"color": "red",
	),
	"green": (
		"color": "green",
	),
	"blue-legacy": (
		"color": "blue-legacy",
	),
	"red-legacy": (
		"color": "red-legacy",
	),
	"green-legacy": (
		"color": "green-legacy",
	),
	
	"i-gpcm": (
		"textClass": "pcmr",
		"color": "blue",
		"icons": ("none", "steam", "origin")
	),
	"i-laptop": (
		"textClass": "laptop",
		"color": "blue",
		"icons": ("none", "steam", "origin")
	),
	"i-desk": (
		"textClass": "desktop",
		"color": "blue",
		"icons": ("none", "steam", "origin")
	),
	"i-linux": (
		"textClass": "linux",
		"color": "blue",
		"icons": ("none", "steam", "tux")
	),
	"i-hack": (
		"textClass": "hack",
		"color": "blue",
		"icons": ("none", "steam", "origin")
	),
	"i-htpc": (
		"textClass": "htpc",
		"color": "blue",
		"icons": ("none", "steam", "origin")
	),
	
	"i-mac": (
		"textClass": "mac",
		"color": "pink",
		"icons": ("none", "steam", "origin")
	),
	"i-trans": (
		"textClass": "trans",
		"color": "purple",
		"icons": ("none", "steam", "origin")
	),
	"i-former": (
		"textClass": "former",
		"color": "orange",
		"icons": ("none", "steam", "origin")
	),
	
	"i-sony": (
		"textClass": "sony",
		"color": "rust"
	),
	"i-xbox": (
		"textClass": "xbox",
		"color": "rust"
	),
	"i-nint": (
		"textClass": "nint",
		"color": "rust"
	),
	"i-peasant": (
		"textClass": "peasant",
		"color": "rust"
	),
	
	"s-pcmrtwitch": (
		"textClass": "pcmr-twitch",
		"color": "pcmr-team",
		"icons": ("twitch"),
		"standalone": true
	),
	"s-pcmrbuilds": (
		"textClass": "pcmr-builds",
		"color": "pcmr-team",
		"icons": ("wrench"),
		"standalone": true
	),
	"s-pcmrsteamchat": (
		"textClass": "pcmr-steam",
		"color": "pcmr-team",
		"icons": ("steam"),
		"standalone": true
	),
	"s-pcmryoutube": (
		"textClass": "pcmr-youtube",
		"color": "pcmr-team",
		"icons": ("youtube"),
		"standalone": true
	),
);

$colorAliases: (
  // Binding classes to aliases for easier reassignment
	"color-pcmr": (
		"color": "blue"
	),
	"color-trans": (
		"color": "purple"
	),
	"color-mac": (
		"color": "pink"
	),
	"color-former": (
		"color": "orange"
	),
	"color-peasant": (
		"color": "rust"
	),
);