// TO DO:
// Refactor so $flairHeight determines .tagline's height as well as the generic
// flair height. Additionally, write new getter/setter functions to read in the
// flair config and refactor the existing loops to utilize those instead of the
// mishmash of flair-get()s and flair-get-nested()s that is currently present.

/* ===============================
*              FLAIRS
*  =============================== */

// Config
@import "_config.scss";

/* Base styles
*  ============ */

// I'm not pleased with this ridiculous selector chain either, but RES appears
// to be hellbent with having its shade of blue reign supreme.
div {
  .thing {
  	&.comment {
  		margin-bottom: 2px;
  	}
  	.tagline {
  		.author {
  			&.submitter, &.moderator, &.admin, &.friend {
  				display: inline-block;
  				height: 20px;
  				line-height: 20px;
  				color: getColor($flair-color-default, "flair", "text");
  				padding: {
  					left: 5px;
  					right: 5px;
  				};
  				margin-right: 0;
  				border-radius: 3px;
  				//border-bottom: 2px solid;
  		   
  			}
  			&.submitter {
  				background-color: #1E5790 !important;
  			}
  			&.friend {
  				background-color: #FF4500 !important;
  			}
  			&.moderator {
  				background-color: #228822 !important;
  			}
  			&.admin {
  				background-color: #FF0011 !important;
  			}
  		}
  	}
  }
}

.tagline, .side .content li {
	line-height: 20px;
}

.tagline {
	@media (min-width: 768px) {
		white-space: nowrap;
		overflow-x: hidden;
		height: 20px;
	}
}

.side .tagline:hover > .flair, .side li:hover > .flair {
	font-size: 10px;
	&:before {
		margin-right: 5px;
	}
}

// Base flair styles
.flair {
	// Font settings
	font-family: "Helvetica Neue", "Helvetica", "Verdana", Arial, sans;
	font-size: 10px;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	max-width: calc(100% - 10px);
	// Default coloration
	background-color: getColor($flair-color-default, "flair", "background");
	color: getColor($flair-color-default, "flair", "text");
	// Padding, positioning, and all that fun stuff
	position: relative;
	vertical-align: top;
	display: inline-block;
	line-height: 21px;
	height: 20px;
	padding: {
		left: 5px;
		right: 5px;
	};
	border: none;
	border-radius: 3px;
	margin-left: 3px;
	box-sizing: border-box;
	// For whatever reason, I can't get it aligning properly on iOS without this.
	// None of the other property values work. Weird.
	vertical-align: baseline;
	margin-bottom: -6px;
	&:empty {
		padding: 0;
		margin: {
			left: 3px;
			bottom: -6px;
			right: 0;
			top: 0;
		};
		border: 0;
	}
}

a.author.moderator ~ .flair {
	background-color: getColor(map-get($flair-colors, "green"), "user", "background");
	color: getColor(map-get($flair-colors, "green"), "user", "text");
	box-shadow: 0px 0px 0px 1px getColor(map-get($flair-colors, "green"), "user", "text") inset;
	&:before {
		background-color: getColor(map-get($flair-colors, "green"), "flair", "background");
		color: getColor(map-get($flair-colors, "green"), "flair", "text");
		box-shadow: 0px 0px 0px 1px #228822 inset;
	}
}

a.author.admin ~ .flair {
	background-color: getColor(map-get($flair-colors, "red"), "user", "background");
	color: #FF0011;
	box-shadow: 0px 0px 0px 1px #FF0011 inset;
	&:before {
		background-color: #FF0011;
		color: getColor(map-get($flair-colors, "red"), "flair", "text");
		box-shadow: #FF0011;
	}
}

// Assumes 16px tall sprite, override if needed
[class*="flair-icon-"] {
	@extend %flair-icon-;
}

%flair-icon- {
	// So we can position icon at left of flair
	position: relative;
	&:before {
		// Spaces out image. Initialize before text.
		content: "";
	}
	&:after {
		background-image: map-get($spritesheet, "url");
		background-repeat: no-repeat;
		// Assume default scale factor of 3x.
		background-size: (map-get($spritesheet, "width") / 3) (map-get($spritesheet, "height") / 3);
		// Assume default sizing of 16x16
		width: 16px;
		height: 16px;
		content: "";
		position: absolute;
		top: 2px;
		left: map-get($spritesheet, "padding");
	}
}

[class*="flair-text-"] {
	@extend %flair-text-;
}

%flair-text- {
	$animCurve: cubic-bezier(0.69, 0.03, 1, -0.12);
	transition: font-size 0.3s $animCurve, padding-right 0.4s ease-in;
	padding-left: 0;
	padding-right: 5px;
	margin-right: 0;
	transform: translate3d(0, 0, 0);
	&:before {
		content: "GET TO THE SCANNERS XANA IS ATTACKING";
		margin-right: 5px;
		display: inline-block;
		padding: {
			left: 5px;
			right: 5px;
		};
		border: none;
		border-radius: 3px;
		line-height: 21px;
		overflow: visible;
		text-overflow: initial;
		white-space: initial;
		font-size: 10px;
	}
	&:not(:hover) {
		font-size: 0;
		padding-right: 0;
	}
	&:empty {
		padding-right: 0;
		&:before {
			margin-right: 0;
		}
	}
}

// No text, only icon
.flair-text-icon-only {
	&:before {
		content: ".";
		font-size: 0;
		padding-right: 0;
		vertical-align: top;
	}
}

// Need this here so padding will work properly.
%flair-icon- {
	&:before {
		padding-left: map-get($spritesheet, "padding") + map-get($spritesheet, "defaultTargetWidth") + map-get($spritesheet, "padding");
	}
}

/* Flair colors
*  ============ */

@each $colorName, $colorInfo in $flair-colors {
	// BASIC AND HOVER FLAIRS
	// =========================
	.flair.flair-color-#{$colorName},
	.flair.flair-color-#{$colorName}:before,
	.res-nightmode .flair.flair-color-#{$colorName},
	.res-nightmode .flair.flair-color-#{$colorName}:before,
	%flair-color-#{$colorName}-basic {
		$border: 0px 0px 0px 1px;
		background-color: getColor($colorInfo, "flair", "background");
		// font color
		@if map-has-nested-key($colorInfo, "flair", "text") {
			// Is the text manually defined? Always respect it if it is.
			color: getColor($colorInfo, "flair", "text");
		}
		@else {
			@if color-contrast(getColor($colorInfo, "flair", "background")) != getColor($flair-color-default, "flair", "text") {
				color: color-contrast(getColor($colorInfo, "flair", "background"));
			}
		}
		// If border is defined, add that. Always respect this.
		@if map-has-nested-key($colorInfo, "flair", "border") {
			box-shadow: 0px 0px 0px 1px getColor($colorInfo, "flair", "border") inset;
		}
		@else {
			// If the background color is white/black, add a border the same color as
			// the font color.
			@if getColor($colorInfo, "flair", "background") == if($NIGHTMODE, $text-dark-default, $text-light-default) {
				box-shadow: 0px 0px 0px 1px getColor($colorInfo, "flair", "text") inset;
			}
		}
	}
	// hover flair border fix, so it doesn't apply to legacy-style basic flairs
	.flair.flair-color-#{$colorName}:before,
	.res-nightmode .flair.flair-color-#{$colorName}:before,
	%flair-color-#{$colorName}-before {
		// If border is defined, add that. Always respect this.
		@if map-has-nested-key($colorInfo, "flair", "border") {
			// Second shadow is for the 1px height difference between flair and flair text
			// Yes, it is very stupid. But hey, it works.
			box-shadow: 0px 0px 0px 1px getColor($colorInfo, "flair", "border") inset, 0px -1px 0px 1px getColor($colorInfo, "flair", "border") inset;
		}
		@else {
			// If the background color is white/black, add a border the same color as
			// the font color.
			@if getColor($colorInfo, "flair", "background") == if($NIGHTMODE, $text-dark-default, $text-light-default) {
				// Second shadow is for the 1px height difference between flair and flair text
				// Yes, it is very stupid. But hey, it works.
				box-shadow: 0px 0px 0px 1px getColor($colorInfo, "flair", "text") inset, 0px -1px 0px 1px getColor($colorInfo, "flair", "text") inset;
			}
		}
	}
	// USER TEXT OF HOVER FLAIRS
	// =========================
	.flair[class*="flair-text-"].flair-color-#{$colorName},
	.res-nightmode .flair[class*="flair-text-"].flair-color-#{$colorName},
	%flair-color-#{$colorName}-user {
		// User text is defined.
		@if map-has-key($colorInfo, "user") {
			background-color: getColor($colorInfo, "user", "background");
			// font color
			@if map-has-nested-key($colorInfo, "user", "text") {
				// Is the text manually defined? Always respect it if it is.
				color: getColor($colorInfo, "user", "text");
			}
			@else {
				@if color-contrast(getColor($colorInfo, "user", "background")) != getColor($flair-color-default, "flair", "text") {
					color: color-contrast(getColor($colorInfo, "user", "background"));
				}
			}
			// If border is defined, add that. Always respect this.
			@if map-has-nested-key($colorInfo, "user", "border") {
				box-shadow: 0px 0px 0px 1px getColor($colorInfo, "user", "border") inset;
			}
			@else {
				// If the background color is white/black, add a border the same color as
				// the font color.
				@if getColor($colorInfo, "user", "background") == if($NIGHTMODE, $text-dark-default, $text-light-default) {
					box-shadow: 0px 0px 0px 1px getColor($colorInfo, "user", "text") inset;
				}
			}
		}
		@else {
			background-color: getColor($colorInfo, "flair", "text");
			// font color
			@if map-has-nested-key($colorInfo, "flair", "background") {
				// Is the text manually defined? Always respect it if it is.
				color: getColor($colorInfo, "flair", "background");
			}
			@else {
				@if color-contrast(getColor($colorInfo, "flair", "text")) != getColor($flair-color-default, "flair", "text") {
					color: color-contrast(getColor($colorInfo, "flair", "text"));
				}
			}
			// If border is defined, add that. Always respect this.
			@if map-has-nested-key($colorInfo, "flair", "border") {
				box-shadow: 0px 0px 0px 1px getColor($colorInfo, "flair", "border") inset;
			}
			@else {
				// If the background color is white/black, add a border the same color as
				// the font color.
				@if getColor($colorInfo, "flair", "text") == if($NIGHTMODE, $text-dark-default, $text-light-default) {
					box-shadow: 0px 0px 0px 1px getColor($colorInfo, "flair", "background") inset;
				}
			}
		}
	}
}

/* Flair text
*  ============ */

@each $className, $textInfo in $flair-text {
	.flair-text-#{$className},
	%flair-text-#{$className} {
		&:before {
			content: if(type-of($textInfo) == "map", map-get($textInfo, "full"), $textInfo);
		}
	}
}

$shortTextDefined: ();

@media (max-width: 480px) {
	@each $className, $textInfo in $flair-text {
		@if type-of($textInfo) == "map" {
			@if map-has-key($textInfo, "short") {
				// does selector exist? make it.
				@if not map-has-key($shortTextDefined, map-get($textInfo, "short")) {
					%flair-text-#{map-get($textInfo, "short")}-extend {
						content: map-get($textInfo, "short");
					}
					$shortTextDefined: map-set($shortTextDefined, map-get($textInfo, "short"), "flair-text-" + map-get($textInfo, "short") + "-extend");
				}
				.flair-text-#{$className}:before,
				%flair-text-#{$className}-short {
					@extend %#{map-get($shortTextDefined, map-get($textInfo, "short"))};
				}
			}
		}
	}
}

/* Flair icons
*  ============ */

@each $iconName, $iconInfo in map-get($spritesheet, "icons") {
	.flair-icon-#{$iconName},
	%flair-icon-#{$iconName} {
		// Define initial scale factor for flair. Determined by dividing the presumed
		// default icon height (48px) by the target height. Should result in either
		// a 3x (16px) or a 4x (12px) supersample. 3 is default.
		$scaleFactor:
			(map-get($spritesheet, "defaultIconHeight") / map-get($iconInfo, "targetHeight")) *
			(map-get($iconInfo, "height") / map-get($spritesheet, "defaultIconHeight")) ;

		&:before {
			// Readjust padding to accomodate for icon width. Only do this if the icon
			// is not 16px wide (22px padding).
			@if map-get($iconInfo, "width") / $scaleFactor != map-get($spritesheet, "defaultTargetHeight") {
				padding-left: map-get($spritesheet, "padding") + map-get($iconInfo, "width") / $scaleFactor + map-get($spritesheet, "padding");
			}
		}

		&:after {
			// If icon is supposed to be 12px tall, recompute spritesheet size and
			// include here.
			@if (map-get($iconInfo, "targetHeight") / $scaleFactor) != map-get($spritesheet, "defaultTargetHeight") {
				background-size: round(map-get($spritesheet, "width") / $scaleFactor) round(map-get($spritesheet, "height") / $scaleFactor);
				top: round(($flairHeight - map-get($iconInfo, "targetHeight")) / 2);

				// Since the height is the target height, use scale factor to determine
				// width. Only use if different than the default.
				height: map-get($iconInfo, "targetHeight");
			}
			// If the width is not 16px (square icon), manually set it.
			@if map-get($iconInfo, "width") / $scaleFactor != map-get($spritesheet, "defaultTargetHeight") {
				width: round(map-get($iconInfo, "width") / $scaleFactor);
			}
			// *Finally* let's assign the background-position to make this work
			background-position: round(map-get($iconInfo, "left") / $scaleFactor) round(map-get($iconInfo, "top") / $scaleFactor);
		}
	}
}

// Compatibility shims

@each $className, $classInfo in $oldFlairShims {
	.flair-#{$className},
	.res-nightmode .flair-#{$className} {
		// If the "icon" key is not present, or if it is and "none" is present,
		// extend the basic coloration and the text class if present.
		@if map-has-key($classInfo, "icons") {
		  @if not map-get($classInfo, "standalone") {
  			@if index(map-get($classInfo, "icons"), "none") != null {
  				& {
  					// Does flair have text? This determines coloration.
  					@if map-has-key($classInfo, "textClass") {
  						// Extend basic coloring for flair component.
  						&:before {
  							@extend %flair-color-#{map-get($classInfo, "color")}-basic;
  							@extend %flair-color-#{map-get($classInfo, "color")}-before;
  						}
  						
  						// Extend user text component
  						@extend %flair-color-#{map-get($classInfo, "color")}-user;
  
  						// Extend base text class and standard text class
  						@extend %flair-text-;
  						@extend %flair-text-#{map-get($classInfo, "textClass")};
  
  						// Extend small screen class, might not work properly
  						@media (max-width: 480px) {
  							@extend %flair-text-#{map-get($classInfo, "textClass")}-short;
  						}
  					}
  					@else {
  						// Will not have hover component, so don't worry about that.
  						// Extend basic coloration.
  						@extend %flair-color-#{map-get($classInfo, "color")}-basic;
  					}
  				}
  			}
  			@each $icon in map-get($classInfo, "icons") {
  				@if $icon != "none" {
  					&-#{$icon} {
  						@extend %flair-color-#{map-get($classInfo, "color")}-user;
  						@if map-has-key($classInfo, "textClass") {
  							&:before {
  								@extend %flair-color-#{map-get($classInfo, "color")}-basic;
  								@extend %flair-color-#{map-get($classInfo, "color")}-before;
  							}
  							@extend %flair-text-;
  							@extend %flair-text-#{map-get($classInfo, "textClass")};
  						}
  						@extend %flair-icon-;
  						@extend %flair-icon-#{$icon};
  					}
  				}
  			}
		  } @else {
		    &{
  		    @extend %flair-color-#{map-get($classInfo, "color")}-user;
  				@if map-has-key($classInfo, "textClass") {
  					&:before {
  						@extend %flair-color-#{map-get($classInfo, "color")}-basic;
  						@extend %flair-color-#{map-get($classInfo, "color")}-before;
  					}
  					@extend %flair-text-;
  					@extend %flair-text-#{map-get($classInfo, "textClass")};
  				}
  				@extend %flair-icon-;
  				@extend %flair-icon-#{map-get($classInfo, "icons")};
  		  }
		  }
		}
		@else {
			@if map-has-key($classInfo, "textClass") {
				&:before {
					@extend %flair-color-#{map-get($classInfo, "color")}-basic;
				}

				// Extend user text component
				@extend %flair-color-#{map-get($classInfo, "color")}-user;

				// Extend base text class and standard text class
				@extend %flair-text-;
				@extend %flair-text-#{map-get($classInfo, "textClass")};

				// Extend small screen class, might not work properly
				@media (max-width: 480px) {
					@extend %flair-text-#{map-get($classInfo, "textClass")}-short;
				}
			}
			@else {
				@extend %flair-color-#{map-get($classInfo, "color")}-basic;
			}
		}
	}
}

@each $colorName, $colorInfo in $colorAliases{
  @if map-has-key($colorInfo, "color") {
    .flair-#{$colorName} {
      @extend .flair-color-#{map-get($colorInfo, "color")};
    }
  }
}

/* Manual CSS Fixes
   ============================= */

// Rockstar tab fix
.flair-icon-rockstar,
.flair-icon-rockstarnorth,
.flair-icon-wd {
	transition: all 0.3s ease;
	&:not(:hover) {
		padding-right: 0;
		&:before {
			margin-right: 0;
		}
	}
}

// Ultra legacy "Steam" flair fix
.flair-steam {
	@extend %flair-icon-;
	@extend .flair-icon-steam;

	&:after {
		margin-left: 3px;
	}
}