// ===============================
//            FUNCTIONS
//
// All generic, *reusable* functions get defined here so I
// don't have to clutter anything else up.
//
// Please try not to pollute the global variable namespace.
// Scope variables appropriately and please have descriptive
// function names for all your crap.
//
// =================================

@function pow($number, $exp) {
	$value: 1;
	@if $exp > 0 {
		@for $i from 1 through $exp {
			$value: $value * $number;
		}
	}
	@else if $exp < 0 {
		@for $i from 1 through -$exp {
			$value: $value / $number;
		}
	}
	@return $value;
}

// color-contrast() and related courtesy of Lu Nelson (http://codepen.io/lunelson/pen/jENxwB)
// LINEAR to LOGARITHMIC and vice-versa
@function lin2log($n) {
	@if $n <= 0.00313 {
		@return $n * 12.92;
	}
	@else {
		@return 1.055 * pow($n, 1 / 2.4) - 0.055;
	}
}

@function log2lin($n) {
	@if $n <= 0.04045 {
		@return $n / 12.92;
	}
	@else {
		@return pow(($n + 0.055) / 1.055, 2.4);
	}
}

// sRGB BT-709 BRIGHTNESS
@function brightness($c) {
	$rlin: log2lin(red($c) / 255);
	$glin: log2lin(green($c) / 255);
	$blin: log2lin(blue($c) / 255);
	@return lin2log(0.2126 * $rlin + 0.7152 * $glin + 0.0722 * $blin) * 100;
}

// Compares contrast of a given color to the light/dark arguments and returns whichever is most "contrasty"
@function color-contrast($color, $dark: $text-dark-default, $light: $text-light-default) {
	@if $color == null {
		@return null;
	}
	@else {
		$color-brightness: brightness($color);
		$text-light-brightness: brightness($light);
		$text-dark-brightness: brightness($dark);
		@return if(abs($color-brightness - $text-light-brightness) > abs($color-brightness - $text-dark-brightness), $light, $dark);
	}
}

// Function to retrieve value in nested map without a trillion map-gets
// Takes map as first arg, arglist as the second and beyond
@function map-get-nested($map, $keys...) {
	@each $key in $keys {
		$map: map-get($map, $key);
	}
	@return $map;
}

// Function to check if nested key exists.
// Takes map as first arg, arglist as the second and beyond
@function map-has-nested-key($map, $keys...) {
	@each $key in $keys {
		@if not map-has-key($map, $key) {
			@return false;
		}
		$map: map-get($map, $key);
	}
	@return true;
}

// Function to retrieve color in flair color list. Returns proper color for day
// or night.
@function getColor($colorInfo, $type, $scope) {
	// Check if the scope exists, error if not
	@if not map-has-nested-key($colorInfo, $type, $scope) {
		@error "$colorInfo does not have values " + $type + " " + $scope;
	}
	// Does the requested key have defined day and night options?
	@if type-of(map-get-nested($colorInfo, $type, $scope)) == "map" {
		@if $NIGHTMODE {
			// Is there an entry for Night Mode?
			@if map-has-nested-key($colorInfo, $type, $scope, "night") {
				@return map-get-nested($colorInfo, $type, $scope, "night");
			}
			@else {
				// Fall back to day mode color
				@return map-get-nested($colorInfo, $type, $scope, "day");
			}
		}
		@if map-has-nested-key($colorInfo, $type, $scope, "day") {
			@return map-get-nested($colorInfo, $type, $scope, "day");
		}
		@else {
			// Error, since I don't know what's here.
			@error "$colorInfo has no color for day mode";
		}
	}
	@else {
		@return map-get-nested($colorInfo, $type, $scope);
	}
}

// Courtesy of http://hugogiraudel.com/2013/08/08/advanced-sass-list-functions/
@function remove($list, $value, $recursive: false) {
	$result: ();
	@for $i from 1 through length($list) {
		@if type-of(nth($list, $i)) == list and $recursive {
			$result: append($result, remove(nth($list, $i), $value, $recursive));
		}
		@else if nth($list, $i) != $value {
			$result: append($result, nth($list, $i));
		}
	}
	@return $result;
}

@function map-set($map, $key, $value) {
	$new: ($key: $value);
	@return map-merge($map, $new);
}