// Global variables
// Prefix all variables/maps with $global_ as not to pollute the global namespace.

// Color
// We're using getColor() for color fetching. Build out palettes that are compliant with it... I hope.

// For the eventual shade function
$global_color_shade_interval: 20%;

$global_colors: (
	"bg": (
		"primary": (
			"day": #FACA04,
			"night": #101010
		),
		"secondary": (
			"day": #101010,
			"night": #FACA04
		),
		"secondary-light-1": (
			"day": mix(#FFF, #101010, $global_color_shade_interval * 1),
			"night": mix(#FFF, #FACA04, $global_color_shade_interval * 1),
		),
		"secondary-dark-1": (
			"day": mix(#000, #101010, $global_color_shade_interval * 1),
			"night": mix(#000, #FACA04, $global_color_shade_interval * 1),
		),
		"secondary-light-2": (
			"day": mix(#FFF, #101010, $global_color_shade_interval * 2),
			"night": mix(#FFF, #FACA04, $global_color_shade_interval * 3),
		),
		"secondary-dark-2": (
			"day": mix(#000, #101010, $global_color_shade_interval * 2),
			"night": mix(#000, #FACA04, $global_color_shade_interval * 2),
		),
		"lightgrey": (
			"day": #DDD,
			"night": #333
		)
	),
	"text": (
		"primary": (
			"day": #101010,
			"night": #FAF8F2
		),
		"light": (
			"day": #faf8f2,
			"night": #101010
		)
	),
);

// For use with the palette() mixin
// Selector is key name and internal map are get-color() parameters
// Don't actually mess with this plz
$global_palette_selectors: ();

// Those weird diagonal things that I want to use so badly

// Slope (height/width multiplier... think y = mx + b)
$global_diagonal_slope: 4;

$global_diagonal_width: 2px;

// Positioning information
$global_scrollbar_width: 17px;