// ===============================
//            FUNCTIONS
//
// All generic, *reusable* functions get defined here so I
// don't have to clutter anything else up.
//
// Please try not to pollute the global variable namespace.
// Scope variables appropriately and please have descriptive
// function names for all your crap.
//
// =================================

@function pow($number, $exp) {
	$value: 1;
	@if $exp > 0 {
		@for $i from 1 through $exp {
			$value: $value * $number;
		}
	}
	@else if $exp < 0 {
		@for $i from 1 through -$exp {
			$value: $value / $number;
		}
	}
	@return $value;
}

// color-contrast() and related courtesy of Lu Nelson (http://codepen.io/lunelson/pen/jENxwB)
// LINEAR to LOGARITHMIC and vice-versa
@function lin2log($n) {
	@if $n <= 0.00313 {
		@return $n * 12.92;
	}
	@else {
		@return 1.055 * pow($n, 1 / 2.4) - 0.055;
	}
}

@function log2lin($n) {
	@if $n <= 0.04045 {
		@return $n / 12.92;
	}
	@else {
		@return pow(($n + 0.055) / 1.055, 2.4);
	}
}

// sRGB BT-709 BRIGHTNESS
@function brightness($c) {
	$rlin: log2lin(red($c) / 255);
	$glin: log2lin(green($c) / 255);
	$blin: log2lin(blue($c) / 255);
	@return lin2log(0.2126 * $rlin + 0.7152 * $glin + 0.0722 * $blin) * 100;
}

// Function to retrieve value in nested map without a trillion map-gets
// Takes map as first arg, arglist as the second and beyond
@function map-get-nested($map, $keys...) {
	@each $key in $keys {
		$map: map-get($map, $key);
	}
	@return $map;
}

// Function to check if nested key exists.
// Takes map as first arg, arglist as the second and beyond
@function map-has-nested-key($map, $keys...) {
	@each $key in $keys {
		@if not map-has-key($map, $key) {
			@return false;
		}
		$map: map-get($map, $key);
	}
	@return true;
}

// Courtesy of http://hugogiraudel.com/2013/08/08/advanced-sass-list-functions/
@function remove($list, $value, $recursive: false) {
	$result: ();
	@for $i from 1 through length($list) {
		@if type-of(nth($list, $i)) == list and $recursive {
			$result: append($result, remove(nth($list, $i), $value, $recursive));
		}
		@else if nth($list, $i) != $value {
			$result: append($result, nth($list, $i));
		}
	}
	@return $result;
}

@function map-set($map, $key, $value) {
	$new: ($key: $value);
	@return map-merge($map, $new);
}

@function list-to-string($list, $separator: ", ") {
	$result: "";
	@each $i in $list {
		@if type-of($i) == "map" {
			$result: $result + list-to-string($i, $separator) + $separator;
		} @else if type-of($i) == "string" {
			$result: $result + $i + $separator;
		}
	}
	@return nth(str-slice($result, 1, -1 - str-length($separator)), 1);
}

// For automatic generation of Night Mode/NP color schemes
// Use get-color() for inline color insertion
@mixin palette($property, $scope, $color, $type: "all", $rule-string: "##color##", $shade: 0) {
	// Translate the type into the scopes requested. Currently supported are day, night, and np
	// "all" is translated automatically into all available choices (currently predefined list)
	$selection: ();
	$choices: ("day", "night", "np");
	
	@if $type == "all" {
		$selection: $choices;
	} @else if type-of($type) == "string" {
		@if index($choices, $type) != null {
			$selection: append($selection, $type);
		}
	} @else if type-of($type) == "map" {
		@each $i in $type {
			@if index($choices, $i) != null {
				$selection: append($selection, $type);
			}
		}
	}
	
	$rule-before: str-slice($rule-string, 1, str-index($rule-string, "##color##") - 1);
	$rule-after: str-slice($rule-string, str-index($rule-string, "##color##") + 9, -1);
	
	@if index($selection, "day") != null {
		#{$property}: unquote($rule-before) + map-get-nested($global_colors, $scope, $color, "day") + unquote($rule-after);
	}
	
	@if index($selection, "night") != null {
		$selectors: ();
		
		.res-nightMode &, [lang*="dk"] & {
			$params: ("property": $property, "scope": $scope, "color": $color, "type": "night", "rule-before": $rule-before, "rule-after": $rule-after, "shade": $shade);
			
			$selectors: append(map-get($global_palette_selectors, list-to-string(#{&})), $params);
			
			@if map-has-key($global_palette_selectors, list-to-string(#{&})){
				$global_palette_selectors: map-set($global_palette_selectors, list-to-string(#{&}), $selectors) !global;
			} @else {
				$global_palette_selectors: map-merge($global_palette_selectors, (list-to-string(#{&}): $selectors)) !global;
			}
		}
	}
	
	@if index($selection, "np") != null {
		[lang*="np"] & {
			$params: ("property": $property, "scope": $scope, "color": $color, "type": "np", "rule-before": $rule-before, "rule-after": $rule-after, "shade": $shade);
			
			$selectors: append(map-get($global_palette_selectors, list-to-string(#{&})), $params);
			
			@if map-has-key($global_palette_selectors, list-to-string(#{&})){
				$global_palette_selectors: map-set($global_palette_selectors, list-to-string(#{&}), $selectors) !global;
			} @else {
				$global_palette_selectors: map-merge($global_palette_selectors, (list-to-string(#{&}): $selectors)) !global;
			}
		}
	}
}

// New version of getColor() below. For use with new global color palette.
// Default specified scope is "day." Will return null if not found; handle on your own.
@function get-color($scope, $color, $type: "day", $shade: 0) {
	// Does the color exist? If not, error out.
	@if not map-has-nested-key($global_colors, $scope, $color) {
		@error 'Color "' + $color + '" does not exist in global color palette'
	}
	
	// Check if the color definition is a map or a single value
	@if type-of(map-get-nested($global-colors, $scope, $color)) == "map" {
		$choices: map-keys(map-get-nested($global_colors, $scope, $color));
		
		@if index($choices, $type) == null {
			@warn "get-color: Color "" + $color + "," type "" + $type + "" does not exist in global color palette";
			@return null;
		} @else {
			@return map-get-nested($global_colors, $scope, $color, $type);
		}
	} @else {
		// Since only one color value exists in this case, we return that.
		@return map-get-nested($global_colors, $scope, $color);
	}
}

// Compares contrast of a given color to the light/dark arguments and returns whichever is most "contrasty"
@function color-contrast($color, $dark: $text-dark-default, $light: $text-light-default) {
	@if $color == null {
		@return null;
	}
	@else {
		$color-brightness: brightness($color);
		$text-light-brightness: brightness($light);
		$text-dark-brightness: brightness($dark);
		@return if(abs($color-brightness - $text-light-brightness) > abs($color-brightness - $text-dark-brightness), $light, $dark);
	}
}

// Function to retrieve color in flair color list. Returns proper color for day
// or night.
@function getColor($colorInfo, $type, $scope: "day") {
	// Check if the scope exists, error if not
	@if not map-has-nested-key($colorInfo, $type, $scope) {
		@error "$colorInfo does not have values " + $type + " " + $scope;
	}
	// Does the requested key have defined day and night options?
	@if type-of(map-get-nested($colorInfo, $type, $scope)) == "map" {
		@if $NIGHTMODE {
			// Is there an entry for Night Mode?
			@if map-has-nested-key($colorInfo, $type, $scope, "night") {
				@return map-get-nested($colorInfo, $type, $scope, "night");
			}
			@else {
				// Fall back to day mode color
				@return map-get-nested($colorInfo, $type, $scope, "day");
			}
		}
		@if map-has-nested-key($colorInfo, $type, $scope, "day") {
			@return map-get-nested($colorInfo, $type, $scope, "day");
		}
		@else {
			// Error, since I don't know what's here.
			@error "$colorInfo has no color for day mode";
		}
	}
	@else {
		@return map-get-nested($colorInfo, $type, $scope);
	}
}
