/* Alternate color schemes
 * ======================= */

// There seems to be some weird issue where every map in palette()'s selector list starts
// with null that I haven't yet tracked down. This removes every instance of that.
$global_palette_selectors: remove($global_palette_selectors, null, true);

// Render out full selectors from palette()
@each $sel, $props in $global_palette_selectors {
	#{unquote($sel)} {
		@each $prop in $props {
			// yay null handling
			$rule: quote(get-color(map-get($prop, "scope"), map-get($prop, "color"), map-get($prop, "type"), map-get($prop, "shade")));
			
			$rule-before: map-get($prop, "rule-before");
			$rule-after: map-get($prop, "rule-after");
			
			@if $rule-before != null or $rule-before != "" {
				$rule: str-insert($rule, $rule-before, 1);
			}
			@if $rule-after != null or $rule-after != "" {
				$rule: str-insert($rule, $rule-after, -1);
			}
			
			#{map-get($prop, "property")}: $rule;
		}
	}
}