// Banner variables
// Scope everything with $header_ so there's as little global namespace pollution as possible

// Dimensions
$header_height: 18vh;
$header_minHeight: 95px;
$header_maxHeight: 300px;

$header_minHeight_portrait: 125px;
$header_maxHeight_portrait: 300px;

$header_width: 100%; // 100vw also counts scrollbars, which is undesirable behavior

$header_margin_bottom: 15px;

// Banner Images
$header_bgImage: (
	"path": url("/custom/RAL Banner.png"),
	"width": 3840px,
	"height": 150px
);

// Subreddit bar: for margins and stuff
$header_srbar_height: 20px;

// Logo (background element)
$header_logo_bg_URL: url("/custom/RAL Banner.png");

// These dimensions are for the image that you're putting in, not the size of the element! Those will be computed automatically.
$header_logo_bg_img_width: 600px;
$header_logo_bg_img_height: 150px;

// This is for how wide you want the logo to be in portrait mode. Please specify it in terms of viewport width percent (vw)
$header_logo_bg_width_portrait: 90vw;


// Logo (clickable element)
// Try not to have height exceed $header_minHeight, for reasons
// Percentage widths should work, but it will probably break below a certain width
$header_logo_width: 90%;
$header_logo_height: 80%;

$header_logo_url: url("/custom/logo_mockup.png");

// Hotbar
$header_hotbar_height: 30px;

$header_hotbar_lineHeight: 16px;

$header_hotbar_zindex: 5;

// Announcement bar
$header_announcebar_height: 30px;

$header_announcebar_lineHeight: 30px;

$header_announcebar_zindex: 4;