//If this file grows too unruly, split it into multiple files and use this one to import.

@import "_config";

// Remember: we're aiming for compactness here. Use as few selectors as possible and attempt to remove any unnecessary styles if it can be helped.
// While SASS's namespace feature for stuff like the background property is incredibly useful, be wary of it as it is not compiled to shorthand.
#header{
	height: $header_height;
	min-height: $header_minHeight;
	max-height: $header_maxHeight;
	
	background: {
		color: get-color("bg", "primary");
		//color: #2d150a;
		image: map-get($header_bgImage, "path");
		size: auto 100%;
		position: 50% 0%;
	};
	border-bottom: 0;
	
	margin-bottom: $header_hotbar_height + $header_announcebar_height + $header_margin_bottom;
}

#sr-header-area{
	position: absolute;
	z-index: 200;
	
	height: $header_srbar_height;
	margin-top: $header_srbar_height * -1;
	width: 100%;
	box-sizing: border-box;
	
	// background: getColor(map-get($global_colors, "bg"), "secondary");
	// border-bottom: 2px solid getColor(map-get($global_colors, "bg"), "primary");
	@include palette("background-color", "bg", "secondary", "day");
	@include palette("border-bottom", "bg", "primary", "day", "2px solid ##color##");
	
	.gold{
		// color: getColor(map-get($global_colors, "bg"), "primary");
		@include palette("color", "bg", "primary", "day");
	}
}

#sr-header-area span, .sr-bar a{
	//color: getColor(map-get($global_colors, "text"), "light");
	@include palette("color", "text", "light", "day");
}

#sr-more-link{
	//background: getColor(map-get($global_colors, "bg"), "secondary");
	//color: getColor(map-get($global_colors, "text"), "light");
	@include palette("background-color", "bg", "secondary");
	@include palette("color", "text", "light");
}

#header-bottom-left{
	height: 100%;
	margin-top: $header_srbar_height;
	z-index: 100;
}

.pagename{
	position: absolute;
	left: 50%;
	margin: 0;
	// Margin is equal to half the current computed length of the .pagename element.
	// Will not scale properly when display is longer or shorter than the min/max length; use
	// media queries to cap the limits of the scaling.
	margin-left: ($header_logo_bg_img_width / ($header_logo_bg_img_height * -2)) * $header_height;
	
	@media(max-height: floor($header_minHeight / ($header_height / 100vh))){
		// Half the width of it at its smallest
		margin-left: ($header_minHeight / $header_logo_bg_img_height) * ($header_logo_bg_img_width / -2);
	}
	
	@media(min-height: ceil($header_maxHeight / ($header_height / 100vh))){
		// Half the width of it at its largest
		margin-left: ($header_maxHeight / $header_logo_bg_img_height) * ($header_logo_bg_img_width / -2);
	}
	
	height: 100%;
	
	// Since this element is always full height in the header, we can use this to our advantage.
	// Scale the element to the current height of the header (min/max height accounted for), scaled
	// to how wide the element should be.
	width: ($header_logo_bg_img_width / $header_logo_bg_img_height) * $header_height;
	
	min-width: ($header_minHeight / $header_logo_bg_img_height) * $header_logo_bg_img_width;
	max-width: ($header_maxHeight / $header_logo_bg_img_height) * $header_logo_bg_img_width;
	
	// background: $header_logo_bg_URL 50% 0% no-repeat;
	
	a{
		position: absolute;
		width: $header_logo_width;
		height: $header_logo_height;
		
		@if unit($header_logo_width) == "px" {
			left: 50%;
			margin-left: #{$header_logo_width / -2};
		} @else if unit($header_logo_width) == "%" {
			left: (100% - $header_logo_width) / 2;
		}
		
		@if unit($header_logo_height) == "px" {
			top: 50%;
			margin-top: #{$header_logo_height / -2};
		} @else if unit($header_logo_height) == "%" {
			top: (100% - $header_logo_height) / 2;
		}
		
		// Set background image here.
		background: $header_logo_url 50% 50%/contain no-repeat;
		font-size: 0;
		color: transparent;
	}
}
// The above works fantastically for landscape clients, but it fails on portrait clients. When the
// orientation is portrait and above the minimum size of the banner (plus ~20px for the scrollbar),
// we switch the header scale to use the screen width instead.
@media (orientation: portrait){
	#header{
		height: ($header_logo_bg_img_height / $header_logo_bg_img_width) * $header_logo_bg_width_portrait;
		
		min-height: $header_minHeight_portrait;
		max-height: $header_maxHeight_portrait;
	}
	
	.pagename{
		width: $header_logo_bg_width_portrait;
		margin-left: ($header_logo_bg_width_portrait / -2);
		
		min-width: ($header_minHeight_portrait / $header_logo_bg_img_height) * $header_logo_bg_img_width;
		max-width: ($header_maxHeight_portrait / $header_logo_bg_img_height) * $header_logo_bg_img_width;
		
		// Since now we're measuring something with some padding added to it, we've gotta make an additional calculation.
		// The bounding should begin and stop at the breakpoints measured by the min/max size of the bg element, PLUS the
		// padding on the sides. There shouldn't be any unexpected jumping or sizing issues when the viewport hits the
		// calculated breakpoints.
		@media (max-width: floor((($header_minHeight_portrait / $header_logo_bg_img_height) * $header_logo_bg_img_width) / ($header_logo_bg_width_portrait / 100vw)) + $global_scrollbar_width){
			margin-left: ($header_minHeight_portrait / $header_logo_bg_img_height) * $header_logo_bg_img_width / -2;
		}
		
		@media (min-width: ceil((($header_maxHeight_portrait / $header_logo_bg_img_height) * $header_logo_bg_img_width) / ($header_logo_bg_width_portrait / 100vw)) + $global_scrollbar_width){
			margin-left: ($header_maxHeight_portrait / $header_logo_bg_img_height) * $header_logo_bg_img_width / -2;
		}
		
		// Problem is, when the screen grows too narrow, the element will begin pushing the right boundary of the screen,
		// resulting in a dreaded scrollbar. To address this without scaling any further, we hit the breakpoint defined by
		// the minimum size of the element, set the size to 100% (remember: height isn't changing), then shift the background
		// image so it'll slide off the element gracefully.
		//
		// We don't want to set any overflow on #header, as other aspects of the stylesheet aren't designed to work with no
		// overflow.
		
		// Todo: set width of element to 100% when screen is narrower than the element on its own to prevent page scroll issues
		//     Instead, begin shifting the background position based on screen width (I guess the element width minus the screen width in vw or %?)
		//     Needs further testing once background elements implemented. Try to avoid setting the overflow property as that's gonna play hell with
		//     the .tabmenu element
		@media (max-width: ($header_minHeight_portrait / $header_logo_bg_img_height) * $header_logo_bg_img_width + $global_scrollbar_width){
			left: 0;
			margin-left: 0;
			width: 100%;
			min-width: initial;
		}
	}
}

#header .tabmenu{
	display: none;
	position: absolute;
	left: 0;
	bottom: ($header_hotbar_height + $header_announcebar_height + 15px) * -1;
	
	// Temporary width; replace with final #siteTable width when it's implemented.
	width: 70vw;
	
	margin: 0;
}

// Temorary to get it out of the way for now
#header-img-a{
	display: none;
}

#header-bottom-right{
	position: absolute;
	right: 0;
	bottom: ($header_hotbar_height + $header_announcebar_height) * -1;
	
	// Until I fine tune this
	width: 25vw;
	height: $header_announcebar_height;
	
	padding: 0;
	
	text-align: center;
	line-height: $header_announcebar_lineHeight;
	
	border-radius: 0;
	
	// Temporary to address scrollbar issues
	overflow-x: hidden;
}